# Enforce Unix newlines
* text=auto eol=lf

# bat files may have crlf as line ending
*.bat text eol=crlf

# sh ending are considered shell scripts
*.sh text eol=lf

# don't mess with binary files
*.jar binary
*.jpg binary
*.tar binary
*.png binary
*.woff binary
*.ttf binary
*.eot binary
*.ico binary
*.pptx binary
*.xlsx binary
